<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKMASTER</title>
    <link rel="stylesheet" href="/styles/tasks.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <h1>My Tasks</h1>
        <ul id="tasksList">
            <% tasks.forEach(task => { %>
                <li>
                    <h2><%=task.title%></h2>
                    <small> Category: <%=task.category%></small>
                    <small> Duedate: <%= task.duedate%> </small>
                    <p><%=task.description%></p>
                    <a class="edit" href="/edit/<%= task.id %>">Edit</a>
                    <a class="delete" href="/api/tasks/delete/<%= task.id%>">Delete</a>
                </li>
           <% }); %>
        </ul>
    </div>
</body>
</html>